@charset "UTF-8"; 

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
	--fonte1: Verdana, Geneva, Tahoma, sans-serif;
	--fonte2: 'Passion One', cursive;
	--fonte3: 'Sriracha', cursive;
}


* {
	box-sizing: border-box;
	margim: 0px;
	padding: 0px;
}


html, body{
	margin: 0px;
	min-height: 100vh;
	background-color: darkgray;
	font-family: var(--fonte1);
}

header{
	background-color: #000000;
	color: #ffffff;
	text-align: center;
	margin: 0px;
	padding: 0px;
}


header > h1{
	margin: 0px;
	padding-top: 50px;
	font-variant: small-caps;
	font-family: var(--fonte2);
	font-size: 3em;
}

header > p{
	margin: 0px;
	padding-bottom: 50px;
}

 a{
 	color: darkgray;
 	text-decoration: none;
 	font-weight: bolder;
}

a:hover{
	text-decoration: underline;
}

section{
	padding-top: 10vh;
	padding-bottom:10vh;
	line-height: 2em;
	padding-left: 30px;
	font-family: var(--fonte3);
	font-size: 1.5em;
}


section.normal{
	background-color: #ffffff;
	color: #000000;
}


section.imagem{
	background-color: rgb(51, 51, 51);
	color: whitesmoke;
}

section.imagem > p{
	padding: 10px;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.253);
}



footer {
	background-color: #000000;
	text-align: center;
	color: #ffffff;
	padding: 5px;
}